<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="mt-5 pt-5">
        <h2>Formulario de incidencias</h2>
        <%= render "form", incident: @incident %>
      </div>
    </div>
  </div>
</div>
