<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="mt-5 text-center">
        <h2>Resumen de reporte</h2>
        <h3><%= @incident.subject %></h3>
        <p><%= @incident.incident_date %></p>
        <p class="text-justify"><%= @incident.description %></p>
        <% @incident.photos.each do |photo| %>
          <p><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
